@tailwind base;
@tailwind components;
@tailwind utilities;


/* css đóng mở modal */
.fade-slide-up {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center bottom;
}

.fade-slide-up-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px) scale(0.95);
}

.fade-slide-up-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}


/* css loader */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#2c8feb 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}